.about-container {
    display: flex;
    border: 10px solid white; /* White border */
    border-radius:80%;
    margin-top: 2%;
    margin-left : 50%;

  }
  
  .about-section {
    margin-bottom: 20px;
    border: 10px solid white; /* White border */
    border-radius: 10px; /* Rounded corners */
    
  }
  
  .eventhub-logo {
    width: 100px; /* Adjust size as needed */
    margin-top: 20%;
  }
  
  .about-image {
    width: 100%; /* Adjust size as needed */
  }
  
  .description {
    font-size: 14px;
  }
  
  .about-image-right {
    flex: 1;
  }
  
  .about-image-right img {
    width: 100%;
  }
  