body{
    background:linear-gradient(to bottom, #ffff,#819D6B 300% )
}

.login-section {
    padding: 20px;
  }
  
  .login_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 60px;

    width: 120%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left:1px solid black;
    border-top: 1px solid black;

  }

  
  .login_img_col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login_img img {
    width: 100%;
    height: auto;
  }
  
  .login_form {
    background-color: #9dc183;
    padding: 20px;
    border-radius: 8px;
  }
  
  .login_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login_form p {
    margin-top: 10px;
  }
  
  .login_form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login_form p a:hover {
    text-decoration: underline;
  }
  
  .auth_btn {
    width: 100%;
  }
  